<h1>Click a Department To View Content</h1>
<%= link_to 'Create a new department', new_department_path %>
<ul>
  <% @departments.each do |adepartment| %>
    <li><%= link_to adepartment.name, adepartment %></li>
  <% end %>
</ul>